.App {
  display: flex;
  justify-content: center;
  text-align: left;
}

.sketch{
  height: 100% !important;
  width: 100%;
  position: absolute;
}

.sketch .canvas-container{
  height: 100% !important;
}





